@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100;700&display=swap');

/* Themes */

[data-theme="dark"] { /* https://www.pullrequest.com/blog/how-to-implement-dark-mode-with-css-js/ */
    --primary-background: #11161c;
    --primary-light: #373c43;
    --primary-dark: #000;
    --primary-text: #fff;

    --heading-font: 'Raleway', sans-serif;
    --main-font: 'Open Sans', sans-serif;

    --accent-background: #354899;
    --accent-light: #42904c;
    --accent-dark: #18236b;
    --accent-text: #000;
}

[data-theme="light"] {
    --primary-background: #eee;
    --primary-light: #fff;
    --primary-dark: #bcbcbc;
    --primary-text: #000;

    --heading-font: 'Raleway', sans-serif;
    --main-font: 'Open Sans', sans-serif;

    --accent-background: #354899;
    --accent-light: #42904c;
    --accent-dark: #18236b;
    --accent-text: #fff;
}

html {
    background: var(--primary-background);
    overflow-x: auto;
    overflow-y: auto;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    scrollbar-base-color: var(--primary-light);
    scrollbar-track-color: var(--primary-dark);
    scrollbar-highlight-color: var(--accent-background);
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primary-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-light);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-background);
}

/* Site navigation */

.site-nav {
    margin: 0;
    padding: 15px;
}

.site-nav ul { /* https://www.w3schools.com/css/css_navbar_horizontal.asp */
    list-style-type: none;
    background-color: var(--primary-dark);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.site-nav li {
    float: left;
}

.site-nav li:hover {
    background-color: var(--primary-light);
}

.site-nav a {
    font-family: var(--main-font);
    font-size: medium;
    text-decoration: none;
    color: var(--primary-text);

    display: block;
    padding: 8px;
}

.home {
    background-color: var(--accent-background);

    transition-duration: .25s;
}

.theme-switch {
    font-family: var(--main-font);
    font-size: medium;
    text-align: center;
    color: var(--primary-text);

    background-color: var(--accent-background);

    border: none;
    padding: 8px;
    display: inline-block;

    transition-duration: .25s;
}

.theme-switch:hover {
    background-color: var(--accent-light);
}

/* Main styling */

.layout-manager {
    margin: 8px;
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

.column {
    max-width: 50%;
}

.container {
    padding: 8px;

    border-style: solid;
    border-width: 2px;
    border-color: #00000000;

    transition-duration: .25s;
}

.container:hover{
    background-color: var(--primary-light);
    border-color: var(--accent-background);

    transition-duration: .25s;
}

.page-title {
    text-align: center;
    font-size: 3em;
}

.page-title strong {
    font-family: var(--heading-font);
    color: var(--accent-background);

    display: inline-block;

    transition-duration: .75s;
}

.page-title strong:hover {
    color: var(--accent-light);

    transform: scale(1.2);
    transition-duration: .75s;
}

.intro {
    font-family: var(--main-font);
    font-size: xx-large;
    text-align: left;
    color: var(--primary-text);
}

.content-title {
    font-family: var(--main-font);
    font-size: x-large;
    text-align: left;
    color: var(--primary-text);
}

.content {
    font-family: var(--main-font);
    font-size: medium;    text-align: left;

    color: var(--primary-text);
}

.content a {
    color: var(--primary-text);
}

img {
    max-width: 100%;
}

/* Counter styling */

/* Footer styling */

.spacer {
    flex: 1;
}

footer {
    background-color: var(--primary-dark);
    text-align: center;

    padding: 15px;
}

.footer-text {
    font-family: var(--main-font);
    font-size: medium;
    color: var(--primary-text);
}
