<!--
This page is a template for all pages on the site.
Be sure to update this file if the styling or file structure changes.

Erick White, July 18, 2022
-->

<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
  <meta property="og:title" content="Doherty Codes - The Next Generation of Programmers is Here">
  <meta property="og:type" content="article">
  <meta property="og:description" content="The official website of the Doherty Codes organization">
  <meta property="og:url" content="https://dohertycodes.github.io/">
  <meta name="theme-color" content="#42904c">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="components/page-menu.js" type="text/javascript"></script>
  <script defer src="components/footer.js" type="text/javascript"></script>
  <script defer src="scripts/blurHeader.js" type="text/javascript"></script>
  <script defer src="scripts/themeSwitcher.js" type="text/javascript"></script>
  <script defer src="scripts/menuHandler.js" type="text/javascript"></script>
  <script defer src="scripts/getYear.js" type="text/javascript"></script>
  <script defer src="scripts/formSubmitHandler.js" type="text/javascript"></script>
  <link href="assets/favicon.ico?" type="image/x-icon" rel="shortcut icon">
  <link href="styles/main.css" type="text/css" rel="stylesheet">
  <title>Doherty Codes - PAGE TITLE</title>
  <meta name="description" content="Doherty Codes - PAGE TITLE: PAGE DESCRIPTION">
</head>

<body>
  <menu id="page-menu"></menu>
  <div class="main-background">
    <main>
      <header>
        <div class="intro">
          <h1 class="page-title" id="main-header">TITLE</h1>
        </div>
      </header>
      <div class="divider"></div>
      <!-- CONTENT GOES HERE -->
      <div class="divider"></div>
      <footer id="footer"></footer>
    </main>
  </div>
</body>

</html>